build
invoke
.gradle/**/*
.idea
.DS_Store
logs
out
runtime/logs
runtime/omega*.jar
*.omega_result
/.nb-gradle/
.nb-gradle-properties
alternate.omega_assets
*.omega_anim.prev*
SAVED-*
*.omega_assets.zip
*omega_bundle.manifest
__*
src/main/resources/version
