package omega;

// DO NO CHANGE HERE

public class Version {
    static public String getVersion() {
	return getVersion(null);
    }
    static public String getVersion(String s) {
	String ver = "\u03a9, ver @VERSION@.@BUILDNUMBER@ @BUILDDATE@";
	if ( s != null )
	    return s + ' ' + ver;
	else
	    return ver;
    }
}

// DO NO CHANGE HERE
